*{margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; 
    font-family: Arial, sans-serif;
    text-decoration: none  ;
}

html{
    font-size: 62.5%  ;
}
html, body{
    height: 100%  ;
    width: 100%  ;
    margin: 0;
}

body{
    font-size: 1.4rem;
    background-color: #f5f5f5;
    color: #000000;
    line-height: 1.6;
    display: flex  ;
    flex-direction: column;
    
}

.container{
    width: 90% ;
    max-width: 1200px  ;
    margin: 0 auto  ;
    display: flex;
    flex: 1;
    flex-direction: column;
   
    align-items: center;
}

h1{
    font-size: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    color: #4150d6;
   
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bouton{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background-color: #4150d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.7); 
    justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Contenu de la modal */
.modal-content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Image */
.modal-content img {
  max-width: 100%;
  max-height: 80vh;
}



footer{
    padding: 1rem 0;
    margin-top: auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: #9bf3ff;

}